<!DOCTYPE html>
{% load static %}
<html lang="en">
{% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
{% endfor %}
<head>
    <meta charset="UTF-8">
    <title>RSVP Event</title>
    <style>

        .square {
width: 500px;
height: 500px;
border: 2px dashed #aaa;
display: flex;
position: relative;
overflow: hidden;
border-radius: 10px;
margin:left;
}

.square img {
width: 100%;
height: 100%;
object-fit: cover;
display: none;
}

.btn-success-soft {
color: #28a745;
background-color: rgba(40, 167, 69, 0.1);
}

    </style>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script src="{% static 'assets/events/index.js' %}"></script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "Z_pc7v6DVMPtzbMfz",
      });
   })();
</script>
</head>
<body>
    <h1>RSVP Event</h1>
    <form action="{% url 'rsvp_event' %}?eventID={{event.event_id}}" method="POST" enctype="multipart/form-data" }>
        {% csrf_token %}
        <table>
            <input type="text"  name="eventID" value="{{event.event_id}}" hidden="">
            <input type="text"  name="location" id="location" value="{{event.location}}" hidden="">
            <input type="text"  name="date" id="date" value="{{event.date}}" hidden="">
            <input type="text"  name="description" id="description" value="{{event.description}}" hidden="">


            <tr>
                <td>Enter your name: </td>
                <td><input type="text" name="name" required id="name"></td>
            </tr>
            <tr>
                <td>Enter your surname: </td>
                <td><input type="text" name="surname" required></td>
            </tr>
            <tr>
                <td>Enter personal email : </td>
                <td><input type="email" name="email" required id="email"></td>
            </tr>
            <tr>
                <td>Enter student number: </td>
                <td><input type="text" name="studentNo" required id="studNo"></td>
            </tr>
        </table>
        <button type="submit" onclick="sendMail()">RSVP</button>
    </form>
</body>
</html>