{% extends 'buses/master.html' %}

{% block title %}Bus Schedule{% endblock %}

{% block content %}
        <nav>
    <div class="nav-title">M.E.B</div>
    <button class="profile-button" onclick="toggleMenu()">
      <span id="user-initials">{{ initials }}</span>
    </button>
    <div class="nav-menu" id="navMenu">
      <a href="{% url 'account:home' %}"><i class="bi bi-house-door-fill"></i> Home</a>
      <a href="{% url 'account:update_profile' %}?studEmail={{email.studentEmail}}"><i class="bi bi-person-circle"></i> Profile</a>
      <a href="{% url 'account:about' %}"><i class="bi bi-info-circle-fill"></i> About Us</a>
      <a href="{% url 'account:contact' %}"><i class="bi bi-envelope-fill"></i> Contact Us</a>
      <a href="{% url 'account:logout' %}"><i class="bi bi-box-arrow-right"></i> Log Out</a>
    </div>
  </nav>
    <!-- Back Button -->
    <div class="mb-4 ms-3 mt-3">
      <button class="btn btn-outline-primary" onclick="goBack()">
        <i class="bi bi-arrow-left-circle"></i> Back
      </button>
    </div>
        {% if list  %}
            <table>
                <tr>
                    <th>code</th>
                    <th>departure</th>
                    <th>destination</th>
                    <th>departure_time</th>
                    <th>arrival_time</th>
                    <th>duration(min)</th>
                </tr>
                {% for schedule in list %}
                    <tr>
                        <td>{{ schedule.schedule_code }}</td>
                        <td>{{ schedule.departure}}</td>
                        <td>{{ schedule.destination}}</td>
                        <td>{{ schedule.departure_time}}</td>
                        <td>{{ schedule.arrival_time}}</td>
                        <td>{{ schedule.duration }}</td>
                    </tr>
                {% endfor %}
            </table>
            <form action="{% url 'view_schedule' schedule_code=schedule_code %}" method="POST">
                {% csrf_token %}
                <input class="btn-style" type="submit" value="DOWNLOAD SCHEDULE">
                <input type="hidden" name="code" value="{{schedule_code}}">
            </form>
        {% else %}
             <h2 style="text-align: center;margin-top: 40px;">No Bus Schedule</h2>
        {% endif %}

{% endblock %}