<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/styles/admin_bus/bus.css">
  <title>Buses Menu</title>
</head>
<body>
  <h1>Bus Menu</h1>
  <div class="container">
    <a class="card" href="{% url 'add_all_campus_view' %}">
      <span>Add Schedule</span>
    </a>
    <a class="card" href="{% url 'add_bus' %}"><span>Add Bus</span></a>
    <a class="card" href="{% url 'remove_bus' %}"><span>Remove Bus</span></a>
    <a class="card" href="{% url 'bus_schedule_stats' %}"><span>View Bus Statistics</span></a>
  </div>
</body>
</html>