<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campus Menu</title>
</head>
<body>
    <h1>Welcome To Campus Operations</h1>
    <ol>
      <li>Click <a href="{% url 'add_campus' %}">here</a> to add a campus</li>
      <li>Click <a href="{% url 'list_all_campus' %}">here</a> to remove a campus</li>
      <li>Click <a href="{% url 'modify_list_campus' %}">here</a> to modify campus information</li>
      <li>Click <a href="{% url 'view_all_campuses' %}">here</a> to view all campuses available</li>
    </ol>
</body>
</html>