<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View All Campuses</title>
</head>
<body>
  <h1>View All Campuses</h1>
  <table border="1">
    <tr>
      <th>CAMPUS ID</th>
      <th>CAMPUS NAME</th>
      <th>CAMPUS LOCATION</th>
    </tr>
    {% for campus in list %}
      <tr>
         <td>{{ campus.campus_id }}</td>
         <td>{{ campus.campus_name }}</td>
         <td>{{ campus.location }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>