*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-style:'Poppins', sans-serif;
  animation: fadeInBody 1.5s ease-out forwards;
  animation: slideUp 1s ease-out forwards;
}

.container{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 30px; 
}

.card{
  width: 250px;
  min-height: 200px;
  margin: 20px;
  background-color:  #1caedf;
  border-radius: 12px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  font-size: 18px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center ;
}

.card:hover{
  opacity: 0.9;
  transform: scale(1.03);
  cursor: pointer;
  transition: all 0.9s ease;
  background-color:  #1296c3;
}
  

a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}

/* animations */

@keyframes fadeInBody {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

nav {
  background-color: #1286ad;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

nav .nav-title{
  text-transform: uppercase;
  font-size: 30px;
}

nav div ul{
  display: flex;
  list-style-type: none;
}

nav div ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: 30px;
}

